<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/264bd81da7.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    </head>
    <body>
    {% block content %}{% endblock %}
    {% block footer %}
    <footer>
        <div class="footer-content">
            <div class="footer-links">
                <a href="/lan">language</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/faq">FAQ</a>
            </div>
            <div class="credits">
                Created by <span>Ron Bruce</span> | All rights reserved.
            </div>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    {% endblock %}
    </body>
</html>